<%-include("navbar.ejs"); %>
<div class="row">
    <div class="col-12">
        <form action="gallary_details" method="post" class="gallary" enctype="multipart/form-data">
            <!-- <h1 class="h3 mb-3"><strong>Add</strong> Doctors Details</h1> -->
            <h5>Gallery Image</h5>
            <input type="file" name="gallery_image" class="form-control">
             <br>       
             <h5>Gallery Description</h5>
            <textarea name="gallery_description" class="form-control" placeholder="Gallery Description"></textarea>
            <br>
             <button class="btn btn-lg btn-primary" type="submit">Add Gallery</button>
            </form>
            </div>
        </div>
        <br>
       
      <table class="table table-bordered">
        <tr>
            <th>Gallery ID</th>
            <th>Gallery Image</th>
            <th>Gallery Description</th>
            <th>Action</th>
        </tr>
        <% gallary.map(function(row,i){ %>
        <tr>
            <td><%= i+1%></td>
            <td><img src="/admin_assets/gallery/<%= row.gallery_image %>" style="width: 100px; height: 100px;"></td>
            <td><%= row.gallery_description %></td>
            <td>
                <td>
                    <a href="/admin/gallery_edit/<%= row.gallery_id%>" class="btn btn-primary">Edit</a>
                    <a href="/admin/gallery_delete/<%= row.gallery_id%>" class="btn btn-danger" 
                       onclick="return confirm('Are you sure you want to delete this record?');">
                       Delete
                    </a>
                </td>
                
            </td>
        </tr>
        <% }); %>
      </table>

     
            <%-include("footer.ejs"); %>
     
        <!-- CREATE TABLE gallery_image(
            gallery_id INT AUTO_INCREMENT PRIMARY KEY,
             gallery_image TEXT,
            gallery_description TEXT
        ) -->